[submodule "ndn-lite"]
	path = ndn-lite
	url = https://github.com/named-data-iot/ndn-lite
[submodule "examples/ndn-lite-application-for-nRF52840-BLE_version"]
	path = examples/ndn-lite-application-for-nRF52840-BLE_version
	url = https://github.com/gujianxiao/ndn-lite-application-for-nRF52840-BLE_version.git
[submodule "examples/NDN-IoT-Android"]
	path = examples/NDN-IoT-Android
	url = https://github.com/gujianxiao/NDN-IoT-Android
[submodule "examples/ndn-lite-application-for-nRF52840-802154_version"]
	path = examples/ndn-lite-application-for-nRF52840-802154_version
	url = https://github.com/gujianxiao/ndn-lite-application-for-nRF52840-802154_version
